global
    daemon
    maxconn {{ max_connections }}
    log 127.0.0.1 local2 info

defaults
    mode http
    timeout connect 2000ms
    timeout client 20000ms
    timeout server 20000ms

frontend http-in
    bind *:80
    acl url_website path_beg /api
    acl url_nexus path_beg /nexus
    use_backend website if url_website
    use_backend nexus if url_nexus

backend website
    option httpchk GET /monitoring/up
    http-check expect rstatus (2)[0-9][0-9]
    default-server inter 3s fall 3 rise 2
    {% for host in groups['reverse_proxies'] %}
server website{{ loop.index }} {{ host }}:80 check maxconn 32
    {% endfor %}

backend nexus
    option httpchk get /nexus/
    server nexus {{ nexus_host }}:8081 check maxconn 32 

listen stats :1936
    mode http
    log global

    maxconn 10

    timeout connect 10s
    timeout client 10s
    timeout server 10s
    timeout queue 10s

    stats enable
    stats hide-version
    stats refresh 30s
    stats show-node
    stats auth admin:password
    stats uri  /
