wrapper.working.dir=../../..

wrapper.java.command=java

wrapper.java.mainclass=org.sonatype.nexus.bootstrap.jsw.JswLauncher

wrapper.java.classpath.1=bin/jsw/lib/wrapper-3.2.3.jar
wrapper.java.classpath.2=./lib/*.jar
wrapper.java.classpath.3=./conf/

wrapper.java.library.path.1=bin/jsw/lib

wrapper.java.additional.1=-XX:MaxPermSize=128m
wrapper.java.additional.2=-Djava.io.tmpdir=./tmp
wrapper.java.additional.3=-Djava.net.preferIPv4Stack=true
wrapper.java.additional.4=-Dcom.sun.jndi.ldap.connect.pool.protocol="plain ssl"
wrapper.java.additional.4.stripquotes=TRUE

wrapper.app.parameter.1=./conf/jetty.xml
wrapper.app.parameter.2=./conf/jetty-requestlog.xml

wrapper.java.initmemory=256
wrapper.java.maxmemory=512

wrapper.ping.timeout=0
wrapper.startup.timeout=0
wrapper.shutdown.timeout=300

wrapper.restart.reload_configuration=TRUE
wrapper.on_exit.12=RESTART

wrapper.logfile=logs/wrapper.log
wrapper.logfile.format=PM
wrapper.logfile.loglevel=INFO
wrapper.logfile.maxsize=10m
wrapper.logfile.maxfiles=10

wrapper.syslog.loglevel=NONE

wrapper.console.title=Sonatype Nexus
wrapper.console.format=PM
wrapper.console.loglevel=INFO
wrapper.console.flush=true

wrapper.ntservice.name=nexus-webapp
wrapper.ntservice.displayname=nexus
wrapper.ntservice.description=Sonatype Nexus
wrapper.ntservice.dependency.1=
wrapper.ntservice.starttype=AUTO_START
wrapper.ntservice.interactive=false
